apiVersion: v1
kind: Namespace
metadata:
  name: cooknect
  labels:
    name: cooknect
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: kafka-pv
  namespace: cooknect
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  hostPath:
    path: /tmp/kafka-logs
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kafka-pvc
  namespace: cooknect
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: manual
