apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-nutrition-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-nutrition-service
  template:
    metadata:
      labels:
        app: postgres-nutrition-service
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: "nutrition_service_db"
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "admin"
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
              subPath: postgres
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-nutrition-service-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-nutrition-service-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-nutrition-service
spec:
  selector:
    app: postgres-nutrition-service
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP
